header {
    display: flex;
    flex-direction: column;
    column-gap: 0px;

    .title-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #2289E9;

        .title-menu {
            font-family: 'Courier New', Courier, monospace;
            font-size: 50;
            font-weight: bold;
            color: #000000;
        }
    }
    
    .nav {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;   
        background-color: #1D77CA;

        .nav-item-container {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 300px;
            z-index: 50;

            .nav-item {
                height: 50px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 30;
            font-weight: lighter;
            color: #FFFFFF;
            text-decoration: none;
            z-index: 100;
            height: fit-content;
            }

            .nav-item:hover {
                background-color: #2289E9;
            }
        }
    }
}